<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<main>
    <h3>Hi, welcome to Last Gen Games! Founded in 2021, we're here to provide the world with an affordable source of older video games from Atari to Playstation 3.</h3>
    <h3>We also sell our own Last Gen merch including mugs, hats, and GameCube controllers!</h3>

    <div class="home">
        <a href="/games">
            <img id= "gamelogo" src="/assets/games.png" alt="games link">
        </a>

        <a href="/merch">
            <img id="merchlogo" src="/assets/merch.png" alt="merch link">
        </a>
    </div>
</main>


<%- include('./partials/footer.ejs') %>