body {
    font-family: Helvetica;
}
#seed {
    font-size: 45px;
}
.gameImg {
    height: 300px;
    width: 300px;
}
#buy {
    height: 50px;
    width: 125px;
}
#sold {
    height: 120px;
    width: 220px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.showImg {
    height: 500px;
    width: 500px;
}
#buyShow {
    height: 60px;
    width: 125px;
}
#soldShow {
    height: 140px;
    width: 240px;
}
#desc {
    font-style: italic;
    font-size: larger;
    text-decoration: underline;
}
.home {
    display: flex;
}
a img {
    height: 500px;
    width: 500px;
}
li {
    float: left;
    /* border-right: 1px solid #bbb; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 24px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
}
a:link {
    color: black;
  }
a:visited {
    color: black;
  }
a:hover {
    color: red;
}
#nav li {
    margin-right: 10px;
}